@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:ital,wght@0,400;1,500&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color:#011C26;
}

main,
footer {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #011C26;
  color: white;
  text-align: center;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .9rem;
  margin: 5px 0;
  color: #272F32;
}

p {
  margin: 5px 0;
}
.weathersummary {
  width: 100%;
  max-width: 320px;
  background-color: rgba(175, 175, 175, 0.7);
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
  border-radius: 5px;
  margin: 0 auto;
}

main {
  max-width: 767px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}
input, button {
  padding: 5px;
  height: 40px;
}
fieldset {
  margin-bottom: 25px;
}
header {
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px;
}
