@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color:#011C26;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #011C26;
  color: white;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .9rem;
  margin: 5px 0;
  color: #272F32;
}

p {
  margin: 5px 0;
}
.weathersummary {
  width: 100%;
  max-width: 320px;
  color:#fff;
  background-color: #011C26;
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
  border-radius: 5px;
  margin: 0 auto;
}
#icon{
  padding: 10px;
  border-radius: 100%;
  background-color: #00b4d8;
  margin: 15px;
}

main {
  max-width: 767px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}
button {
  height: 40px;
  padding: 5px 15px;
  color: #fff;
  background-color: #011C26;
  border: none;
  border-radius: 2px;
}
input {
  padding: 5px;
  height: 26px;
  font-family: 'Roboto', sans-serif;
}

fieldset {
  margin-bottom: 25px;
  background-color: #fff;
  border: 1px solid #011C26;
  border-radius: 5px;
  padding: 20px 20px 30px;
}
header {
  margin-bottom: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px;
}
